.header {
  .row {
    align-items: center;
    justify-content: space-between;
  }

  .home-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    border-radius: 0 20px 20px 0;
    overflow: hidden;

    height: 72px;
    width: 72px;
    background-color: $purple;
    &::after {
      display: inline-block;
      position: absolute;
      content: '';
      height: 36px;
      width: 72px;
      background-color: $purple-light;
      border-radius: 20px 0 20px 0;
    }

    img {
      width: 27px;
      height: 27px;
      z-index: 2;
      align-self: center;
    }
  }

  .theme-button {
    padding: 0;
    background-color: transparent;
  }

  .login-button {
    i {
      color: $slate-lightest;
      font-size: 2rem;
    }
  }

  .user-button {
    border-radius: 50%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    align-self: center;
  }
}
