.icon {
  &::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('../../public/assets/icons/caret-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include translateY(2px);
  }
}
