// colors
$purple: #7c5dfa;
$purple-light: #9277ff;
$black: #0c0e16;
$black-light: #141625;
$slate-dark: #1e2139;
$slate-medium: #252945;
$slate-light: #373b53;
$slate-lightest: #7e88c3;
$grey: #888eb0;
$grey-light: #dfe3fa;
$white: #f8f8fb;
$white-off: #f9fafe;
$peach: #ec5757;
$peach-light: #ff9797;
$green: #33d69f;
$orange: #ff8f00;

// screen sizes

// $screen-xs: 576px;
// $screen-sm: 768px;
// $screen-md: 992px;
// $screen-lg: 1200px;

// shadow
// $shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
